:root {
  --primary: #21dac1;
  --secondary: #9ccbc5c4;
  --dark: #025349;
  --sidebar: #022925;
  --activeMenu: white;
  --inactiveMenu: rgba(255, 255, 255, 0.731);
  --bgColor: #ebf6f5c4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icons {
  color: "red";
  font-size: 40px;
}
.circle {
  height: 150px;
  width: 150px;
  /* border-radius: 5px; */
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customInput {
  height: 30px;
  width: 100%;
}
.inputgrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
  /* background: red; */
}
.inputgrp label {
  flex-basis: 40%;
}
.inputgrp input {
  flex-basis: 60%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 20px;
}

form input,
form select,
form button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

h2 {
  margin-top: 20px;
}

h2 + ul {
  list-style-type: none;
  padding: 0;
}
.profileImageContainer{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.profileImage{
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.editProfile{
  position: absolute;
 bottom: 0;
  left: 0;
  z-index: 99;
  /* color: pink; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px; */

}
.occupation{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.clock{
  
  color: white;
}
